<%- include("template/cabecera",{tituloweb:"Pagina de inicio"}) %>

  <body>
    <h1 class="text-primary">Mi sitio web ppal</h1>
    <h2>
      <%= titulo %>
    </h2>
    <%- include("template/footer") %>
  </body>



  </html>