<%- include("template/cabecera",{tituloweb:"Pagina de inicio"}) %>


  <h1 class="text-primary">Mi sitio web Principal</h1>
  <h2>
    <%= titulo %>
  </h2>
  <%- include("template/footer") %>
    </body>



    </html>