<%- include("template/cabecera",{tituloweb:"Pagina de servicios"}) %>

  <body>
    <h1>Servicios</h1>
    <h2>
      <%= tituloServicios %>
    </h2>
    <%- include("template/footer") %>
  </body>

  </html>